<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if document.getTitle() %}
        <title>{{ document.getTitle() }}</title>
    {% endif %}


    <link rel="stylesheet" href="/reveal.js/css/reset.css">
    <link rel="stylesheet" href="/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="{% block theme %}/reveal.js/css/theme/black.css{% endblock %}" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="/lib/css/monokai.css">

    <link rel="stylesheet" href="/static/css/styles.css">

    {% if editmode %}
        <link rel="stylesheet" href="/static/css/editmode.css">
    {% endif %}

    {% block styles %}{% endblock %}
</head>

<body {% if editmode %}class="editmode"{% endif %}>

<div class="reveal">

    {% block main %}{% endblock %}

</div>

{% block scripts %}{% endblock %}
</body>
</html>