{% extends '@NeustaPimcorePresentation/layoutBase.html.twig' %}

{% block main %}
    <section>
        {% if editmode %}
            {% include '@NeustaPimcorePresentation/Slides/Layouts/FE/slide.editmode.html.twig' %}
        {% else %}
            {% include '@NeustaPimcorePresentation/Slides/Layouts/FE/slide.html.twig' %}
        {% endif %}
    </section>
{% endblock main %}
