includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - .

    excludePaths:
        - vendor
        - Tests

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    checkGenericClassInNonGenericObjectType: false
