{% extends '@NeustaPimcorePresentation/layoutBase.html.twig' %}

{% block main %}
    <section>
        {% if editmode %}
            {% include '@NeustaPimcorePresentation/Slide/_slide-admin.html.twig' %}
        {% else %}
            {% include '@NeustaPimcorePresentation/Slide/_slide-frontend.html.twig' %}
        {% endif %}
    </section>
{% endblock main %}
